* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  @import url(http://fonts.googleapis.com/css?family=Inconsolata);
  @import url(http://fonts.googleapis.com/css?family=Amaranth:700);
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 960px;
}

a {
  color: navy;
  text-decoration: none;
  white-space: nowrap;
}

a:link {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

a:hover {
  color: red;
}

/*---- nawigacja menu lewo ----*/

#lewa-kolumna {
  float: left;
  font-weight: bold;
  width: 190px;
}

ul#sidenav li {
  background-color: #F1F1F1;
  border-radius: 7px;
  border: 2px solid rgba(0,0,0,.2);
  box-shadow: 2px 1px;
  display: block;
  height: 40px;
  line-height: 50px;
  margin: 0 0 5px 5px; 
  overflow: hidden;
}

ul#sidenav li#rozwin:hover {
  height: 85px;
  border-color: red;
}

ul#sidenav a {
  float: left;
  font-weight: bold;
  line-height: 20px;
  margin-top: 100px;
  padding-left: 15px;
  text-align: left;
}

ul#sidenav li a:first-child {
  display: block;
  float: none;
  line-height: 40px;
  margin-top: 0;
}

ul#sidenav li:hover a {
  margin-top: 0;
}

.social {
    display: block;
    text-align: right;
}

/*---- nawigacja menu góra ----*/

#gora {
  font-weight: bold;
  line-height: 2;
  margin-top: 5px;
  padding: 5px 0;
  text-align: right;
  width: 963px;
}

#gora a {
  background-color: #F1F1F1;
  border-radius: 7px;
  border: 2px solid rgba(0,0,0,.2);
  box-shadow: 2px 1px;
  display: inline;
  padding: 0 3px;
}

#gora a:hover {
  border-color: red;
}

/*---- treść artykułu ----*/

header {
  text-align: center;
}

article {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 1px 1px 1px 1px;
  margin-left: 200px;
  padding-bottom: 30px;
  width: 760px;
}

article p {
  padding: 5px 10px;
  text-align: left;
}

article h1 {
  padding: 15px;
}

article h2 {
  padding-left: 10px;
}

article ul {
  padding-left: 20px;
}

/*---- stopka ----*/


#stopka-strony {
  clear: both;
  text-align: right;
  width: 965px;
}

#stopka-strony p {
  padding: 10px;
}

#stopka-strony .social {
  display: none;
}

/*---- jq datepicker ----*/

div.ui-datepicker { 
  font-size: 14px;
  text-align: center; /*---- wyrównanie liczby tygodni ----*/
}

.ui-datepicker-week-end a { /*---- barwy weekendowe ----*/
  color: red !important;
}

/*---- jq label ----*/

label {
  display: inline-block;
  font-size: 14px;
}

/*---- jq tabsy ----*/

#tabs {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 1px 1px 1px 1px;
  margin: 10px;
}

/*---- media query ----*/

@media screen and (max-width: 970px) {

  article,
  #gora { 
    margin-right: 10px;
    width: auto;
  } 

  #stopka-strony {
    margin-right: 10px;
    width: auto;
  }
	
  body { 
    width: auto;
  }
}

@media screen and (max-width: 799px) { /* bez menu bocznego */
  
  article,
  #gora  { 
    margin: 2px 10px;
  }

  #gora {
    background: none;
    text-align: center;
  } 

  #stopka-strony {
    background-color: #E0E0E0;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px;
    margin: 5px 10px;
  }

  #stopka-strony p {
    padding: 5px;
  }

  #stopka-strony .social {
    display: block;
    text-align: right;
  }

  #copyrajt {
    border-top: 1px grey solid;
  }
	
  #lewa-kolumna {
    display: none;
  }
	
  .obrazek { /* skalowana grafika */
    height: 45%;
    width: 45%;
  }
}