* {
	margin:0;
	padding:0;
	outline: 0;
	border: 0;
}

body {
	font: 16px/1.5 serif;
	width: 960px;
	margin: 0 auto;
}

a {
    color: navy;
	text-decoration: none;
	white-space: nowrap;
}

a:link {
	transition: 1s;
}

a:hover {
    color: red;
	
}
#gora a:hover {
	border-color: red;
}


/*---- nawigacja ----*/


nav h1 {
	text-align: center;
	border-style: ridge;
    border-width: 2px 0px;
}


#gora {
	clear: both;
	width: 961px;
	text-align: right;
	padding: 5px 0px;
	margin-top: 5px;
	font-weight: bold;
	line-height: 2;
	background: url(../img/logo.png) no-repeat;
}

#gora a {
	display: inline;
	border: 2px solid rgba(0,0,0,0.2);
	box-shadow: 2px 1px;
	padding: 0px 3px;
	border-radius: 7px;
	background-color: #F1F1F1;
}

#menu {
    float: left;
    width: 180px;
	font-weight: bold;
	margin: 10px;
	}

#menu p{
	padding: 10px 0px;
	text-align: right;
}

/*---- artykuł ----*/


header {
	text-align: center;
}

article {
	margin-left: 200px;
	width: 760px;
	padding-bottom: 30px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px;
	background-color: white;
}

article p  {
	text-align: left;
	padding: 5px 10px;
}

article h1 {
	padding: 15px;
}

article h2 {
	padding-left: 10px;
}

article ul {
	padding-left: 20px;
	
}

/*---- stopka ----*/


#stopka_strony {
	clear: both;
	width: 965px;
	text-align: right;
	}

#stopka_strony p {
	padding: 10px;
}

#stopka_strony .social {
	display: none;
}

/*---- media query ----*/


@media screen and (max-width: 970px) {

article, #gora { 
	margin-right: 10px;
	width: auto;
} 
#stopka_strony{
	margin-right: 10px;
	width: auto;
}

	
	
body { 
	width: auto;
}
}

@media screen and (max-width: 799px) {
article, #gora  { 
	margin: 2px 10px;
}

#gora {
	background: none;
	text-align: center;
} 

#stopka_strony {
	margin: 5px 10px;
	background-color: #E0E0E0;
	border-radius: 7px;
	box-shadow: 1px 1px 1px 1px;
}

#stopka_strony p{
	padding: 5px;
}

#stopka_strony .social {
	text-align: right;
	display: block;
}

#copyrajt {
	border-top: 1px grey solid;
}
	
#menu {
	display: none;
}
	
.img {
	width: 45%;
	height: 45%;
}
	
	
}